:root{
    --main-light: #F7F7F7;
    --main-dark: #2C3333;
    --secondary-light: #54BAB9;
    --secondary-dark: ;
    --light: ;
    --dark: #787A91;
    --light-grey: #DDDDDD;
    --dark-grey: #787A91;
    --info: #54BAB9;
    --danger: #F05454;
}

/* Background Color */
.sefruit-bg-main-light{
    background-color: var(--main-light);
}

.sefruit-bg-main-dark{
    background-color: var(--main-dark);
}

.sefruit-bg-secondary-light{
    background-color: var(--secondary-light);
}

.sefruit-bg-secondary-dark{
    background-color: var(--secondary-dark);
}

.sefruit-bg-dark{
    background-color: var(--dark);
}

.sefruit-bg-light-grey{
    background-color: var(--light-grey);
}

.sefruit-bg-dark-grey{
    background-color: var(--dark-grey);
}

.sefruit-bg-info{
    background-color: var(--info);
}

.sefruit-bg-danger{
    background-color: var(--danger);
}

/* Font Color */
.sefruit-main-light{
    color: var(--main-light);
}

.sefruit-main-dark{
    color: var(--main-dark);
}

.sefruit-secondary-light{
    color: var(--secondary-light);
}

.sefruit-secondary-dark{
    color: var(--secondary-dark);
}

.sefruit-dark{
    color: var(--dark);
}

.sefruit-light-grey{
    color: var(--light-grey);
}

.sefruit-dark-grey{
    color: var(--dark-grey);
}

.sefruit-info{
    color: var(--info);
}

.sefruit-danger{
    color: var(--danger);
}

/* Font Size */
.sefruit-font-size-10{
    font-size: 10px;
}

.sefruit-font-size-12{
    font-size: 12px;
}

.sefruit-font-size-14{
    font-size: 14px;
}

.sefruit-font-size-15{
    font-size: 15px;
}

.sefruit-font-size-18{
    font-size: 18px;
}

.sefruit-font-size-20{
    font-size: 20px;
}

/* Additional */
.sefruit-link{
    color: inherit;
}

.sefruit-link:hover{
    color: inherit;
    text-decoration: none;
}